/* styles/Layout.module.css */
.container {
    max-width: 600px;
    min-height: 300px;
    margin: 50px auto;
    padding: 30px;
    background: #eeeeee;
  }

  .container2 {
    max-width: 600px;
    min-height: 100px;
    margin: 50px auto;
    padding: 10px;
    background: #eeeeee;
  }
